__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb

# ignore partially applied patches and their backup
*.rej
*.orig


# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

# ignore some IDE related files
*.xcodeproj
.vscode

#ignore mac specific file
.DS_Store

__pycache__
*.pyc
*.root
*.pdf
*.dat

src/*.d
src/*.o

dijetCondor/reports_condor
include/rootNtupleClass.h
main
cjobs_*
*.tar.gz
lists/
logs/
trigger_efficiency/
trigger_efficiency*/
Run3vsRun2_Comparison/
Run3vsRun2_Comparison*/
Limits/fits_*
check_condor_outputs
plot_trigger_efficiency
scripts/trigger_efficiency_*/
scripts/plot_kinematics
scripts/kinematics_plots/
scripts/2024*/
*.bak
fits_*

!Makefile
!.gitignore
!README_Analysis.md
!inputs/*/*.root
!check_condor_outputs.cpp
