####################################
####################################

[PFDijet2024]

variables = ['mjj[565.,565.,2132.]','th1x[0,0,25]']

histoName = 'h_data_mjj'

variables_range = ['mjj_Low[565.,2132.]', 'mjj_Blind[565.,2132.]', 'mjj_High[565.,2132.]'] # NOT blinded window

combine_parameters = ['Ntot_bkg_PFDijet2024[3.3e+08]',
                   'p0_PFDijet2024[1]','p1_PFDijet2024[-14]', 'p2_PFDijet2024[13]','p3_PFDijet2024[1.2]','p4_PFDijet2024[10]',
                   'sqrts[13600]',
                   'PFDijet2024_bkg_norm[1]',
                   'meff_PFDijet2024[-1]','seff_PFDijet2024[-1]']


combine_pdfs = ['RooDijet5ParamBinPdf::PFDijet2024_bkg(th1x,p1_PFDijet2024,p2_PFDijet2024,p3_PFDijet2024,p4_PFDijet2024,sqrts)',
                "EXPR::PFDijet2024_bkg_unbin('p0_PFDijet2024*(pow(1-mjj/sqrts,p1_PFDijet2024)/pow(mjj/sqrts,p2_PFDijet2024+p3_PFDijet2024*log(mjj/sqrts)+p4_PFDijet2024*log(mjj/sqrts)*log(mjj/sqrts)))',mjj,p0_PFDijet2024,p1_PFDijet2024,p2_PFDijet2024,p3_PFDijet2024,p4_PFDijet2024,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_PFDijet2024*PFDijet2024_bkg)']

signal_mjj = [565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25)


####################################
####################################

[PFDijet2025]

variables = ['mjj[565.,565.,2132.]','th1x[0,0,25]']

histoName = 'h_data_mjj'

variables_range = ['mjj_Low[565.,2132.]', 'mjj_Blind[565.,2132.]', 'mjj_High[565.,2132.]'] # NOT blinded window

combine_parameters = ['Ntot_bkg_PFDijet2025[3.3e+08]',
                   'p0_PFDijet2025[1]','p1_PFDijet2025[-14]', 'p2_PFDijet2025[13]','p3_PFDijet2025[1.2]','p4_PFDijet2025[10]',
                   'sqrts[13600]',
                   'PFDijet2025_bkg_norm[1]',
                   'meff_PFDijet2025[-1]','seff_PFDijet2025[-1]']


combine_pdfs = ['RooDijet5ParamBinPdf::PFDijet2025_bkg(th1x,p1_PFDijet2025,p2_PFDijet2025,p3_PFDijet2025,p4_PFDijet2025,sqrts)',
                "EXPR::PFDijet2025_bkg_unbin('p0_PFDijet2025*(pow(1-mjj/sqrts,p1_PFDijet2025)/pow(mjj/sqrts,p2_PFDijet2025+p3_PFDijet2025*log(mjj/sqrts)+p4_PFDijet2025*log(mjj/sqrts)*log(mjj/sqrts)))',mjj,p0_PFDijet2025,p1_PFDijet2025,p2_PFDijet2025,p3_PFDijet2025,p4_PFDijet2025,sqrts)",
                'SUM::extDijetPdf(Ntot_bkg_PFDijet2025*PFDijet2025_bkg)']

signal_mjj = [565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132]
signal_th1x = range(0,25)


####################################
####################################


